
<form action="/{{canyon.id}}/edit" method="post">
  <h1> Fine.... edit it... </h1>
  <input type="text" name="name" placeholder="Name" value="{{canyon.name}}">
  <input type="url" name="image" placeholder="image" value="{{canyon.image}}">
  <textarea type="text" name="description" placeholder="description" value="{{canyon.description}}">{{canyon.description}}</textarea>
  <button type="submit" >Edit</button>
</form>
